h1{
    color:brown;
    text-align:center;
}

img{
    display:block;
    margin: 0 auto;
    border:5px solid #fff;
    width: 500px;
    border-radius: 5px;
}

body{
    background-color:rgb(0, 0, 0);
}

h2, p{
    color:rgba(184, 4, 4, 0.94);
}

a{
    color:rgb(255, 183, 0);
    text-decoration: none;
    font-size: 8px;
}

a:hover{
    color:rgb(255, 111, 0)
}