*{
    box-sizing: border-box;
}

body{
    margin: 50px;
    background-color: rgb(78, 72, 72);
}

.flex-container1{
    display: flex;
    justify-content: space-evenly;

}

.title{
    padding: 50px,20px;
    color: azure;
    display: flex;
    justify-content: center; 
    font-size: xx-large; 
    font-weight: bold;
}

.box1{
    border: 3px solid black;
    color: azure;
    padding: 4px;
    margin: 5px;   
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-container2{
    display: flex;
    justify-content: space-evenly;
}

.box2{
    border: 3px solid black;
    color: azure;
    padding: 4px;
    margin: 5px;    
    display: flex;
    align-items: center;
    justify-content: center;
}

p, a{
    font-family: 'Times New Roman', Times, serif;
}

a{
    font-size: 40px;
    font-style: italic;
    color: azure;

}

.box1, .box2 {
    width:29vw;
}

.ffilez{
    font-size: 2px;
}

.allContainer{
    margin: 0 auto;
}

@media screen and (max-width: 700px){
    .allContainer, body{
        background-color: black;
    }
}