body{
    background-color: black;
    margin: 0;
}

.box-1{
    background-color: rgb(100, 100, 100);
    padding: 40px;
    flex:100%;
}

.space1{
    flex: 100%;
    padding: 45px;
}

.space2{
    flex: 70%;
}

.box-2{
    background-color: rgb(100, 100, 100);
    padding: 40px;
    flex:20%;
}

.space3{
    flex: 70%;
}

.box-3{
    background-color: rgb(100, 100, 100);
    padding: 40px;
    flex:20%;
}

.flex-container{
    display: flex;
    /* justify-content: space-evenly; */
    flex-wrap: wrap;
}