body{
    background-color: #ddd;
}

.container{
    background-color: aqua;
    width: 200wh;
    height: 150wh;
    margin: 0 auto;
}

@media screen and (max-width:1000px){
    .container{
        background-color: blueviolet;
        color: blue;
    }
}

@media screen and (max-width:900px){
    .container{
        background-color: azure;
    }
}